# Tmux Configuration: Inspired By
#  https://www.hamvocke.com/blog/a-guide-to-customizing-your-tmux-conf/

# split panes using | and -
# -> only makes sense on QWERTY keyboard
# bind | split-window -h
# bind - split-window -v
# unbind '"'
# unbind %

# reload config file (change file location to your the tmux.conf you want to use)
bind r source-file ~/.tmux.conf

# Enable mouse control (clickable windows, panes, resizable panes) (tmux 2.1 and above)
set -g mouse on

# don't rename windows automatically
set-option -g allow-rename off

# without this, suggestions of the "oh my zsh"'s autosuggestion plugin are not grey-ish anymore but clear white
set -g default-terminal "screen-256color"
